
<div *ngFor="let i of list; let num=index" class="shadow col-md-3 col-sm-12 m-4 border border-secondary rounded " [style.background-color]="'rgba(204, 204, 204, 0.808)'">
    <p class="font-weight-bolder  my-3" [style.color]="'rgb(224, 66, 3)'" > {{num+1 }}) {{ i.name | titlecase}} </p> 
    <app-lists [datalist]="i.elements" [indexOFlist]="num" ></app-lists>  
</div>
<div class="shadow col-md-3 col-sm-12 m-4 border border-secondary rounded  d-flex justify-content-center" [style.background-color]="'rgba(204, 204, 204, 0.808)'" >
    <i class="fas fa-plus-circle m-auto " [ngStyle]="{'font-size':'60px', 'color':'rgb(173, 223, 252)','text-shadow':'1px 1px 2px grey, -1px -1px 2px grey'}"></i>
</div>